/* Enter your custom styles here */
.myCustomPage .sapFDynamicPageTitle {
    background-color:cornflowerblue !important;
}
.myCustomTable .sapMTableTH {
    background-color: bisque !important;
}
button[id$="btnFilters"] {
    display: none !important;
}