/* Enter your custom styles here */
.myCustomPage .sapFDynamicPageTitle {
    background-color: cornflowerblue !important;
}

.myCustomTable .sapMTableTH {
    background-color: bisque !important;
}

button[id$="btnFilters"] {
    display: none !important;
}

.myCustomPage2 .sapMPageHeader{
    background-color: cornflowerblue;
}

.myCustomPage2 .sapMTitle {
    font-size: large;
    font-weight: bolder;
}